<section>
    <div class="container">
        <div class="row mt-4 ">
            <a href="/admin/add-product" class="btn btn-success me-auto">Add Product</a>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.desc}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        {{#if this.image}}
                        <img src="{{this.image}}" width="60" height="60" />
                        {{else}}
                        N/A
                        {{/if}}
                    </td>
                    <td>
                        <a href="/admin/edit-product?id={{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-product?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Sure about deleting {{this.name}}?')">Delete</a>
                    </td>
                </tr>
                
                {{/each}}
            </tbody>
        </table>

    </div>
</section>